/*FONTS


 */
/**/
/**/
/**/
*{
    padding: 0;
    margin: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Exo Medium';
}

html,
body{
   height: 100%;
}
.page{
    position: relative;
    min-height: 100%;
}
/*Block*/
.page_block{
    height: 100vh;
    padding: 134px 0 186px;
    background: url("../img/Landing-Page.jpg") no-repeat top center;
    background-size: cover;
}
.page_block_title,
.page_block_subtitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.page_block_title{
    margin-bottom: 10px;
    color: #ff6d6d;
    font-size: 16px;
    text-transform: uppercase;

}
.page_block_subtitle{
    font-size: 40px;
    color: #282828;
}
.page_block_items{
    display: flex;
    flex-flow: row wrap;
    padding-top: 80px;
}


.page_block_item{
    flex: 1 1 33.33%;
    display: flex;
    flex-flow: column nowrap;
    padding: 0 15px;
}

.page_block_item img{
    margin-bottom: 25px;
    align-self: center;
}

.page_block_item_title,
.page_block_item_desc{
    text-align: center;
}

.page_block_item_title{
    margin-bottom: 11px;
    color: #363636;
    font-size: 20px;
}

.page_block_item_desc{
    color: rgba(40,40,40,0.66);
    font-size: 16px;
}
/*Block / */

/*Responsive*/
@media (max-width: 991px) {
    .page_block{
        background-position: right top;
    }
}
@media (max-width: 991px) {
    .page_block{
        height: auto;
    }
    .page_block_items{
        flex-flow: column wrap;
    }
    .page_block_item{
        flex: 1 1 100%;
        margin-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .page_block{
        background-position: left top;
    }
    .page_block{
        padding: 134px 0 50px;
    }
}
/*Responsive / */


/*Extra*/
.container{
    width: 1170px;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
/*Extra / */