.copyright {
    padding: 56px 0;
    font-family: 'HelveticaNeueLTProRoman';
    font-size: 14px;
    color: #3b3b3b;
    text-align: center;
    background: #fff;
}

/*Fonts
    font-family: 'HelveticaNeueLTProRoman';
    font-family: 'MontserratLight';
    font-family: 'merriweatherlight_italic';
*/