/*Years*/
    .years {
        position: relative;
        padding: 139px 0 472px;
        background: #1d1d1d;
    }
    
    .years:before,
    .years:after {
        position: absolute;
        content: '';
    }
    
    .years:before {
        z-index: 20;
        top: 0;
        left: 50%;
        width: 5px;
        height: 100%;
        background: #fff;
        
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    
    .years:after {
        z-index: 10;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 236px;
        background: url(img/city-bg.jpg) no-repeat center bottom;
        background-size: contain;
    }
    
    .years__item {
        margin-bottom: 8px;
    }
    
    .years__item:last-child {
        margin-bottom: 0;
    }
    
    .years__item.years__itemBigPoint {
        margin-top: 97px;
        margin-bottom: 85px;
    }
    
    .years__itemContent {
        position: relative;
        padding-left: 85px;
        width: 50%;
        float: right;
    }
    
    .years__item.years__itemLeft .years__itemContent {
        padding-left: 0;
        padding-right: 85px;
        float: left;
    }
    
    /*Круги*/
        .years__itemContent:after {
            position: absolute;
            z-index: 25;
            top: 11px;
            left: -17px;
            width: 24px;
            height: 24px;
            border: 5px solid #fff;
            background: #1d1d1d;
            
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
            
            content: '';
        }
        
        .years__item.years__itemLeft .years__itemContent:after {
            left: auto;
            right: -17px;
        }
        
        .years__itemBigPoint .years__itemContent:after {
            left: -28px;
            width: 46px;
            height: 46px;
        }
        
        .years__item.years__itemLeft.years__itemBigPoint .years__itemContent:after {
            left: auto;
            right: -28px;
        }
    /*Круги/ */
    
    .years__itemYear {
        margin-bottom: 13px;
        font-family: 'HelveticaNeueLTProRoman';
        font-size: 48px;
        color: #fefefe;
        text-align: left;
        clear: both;
    }
    
    .years__item.years__itemLeft .years__itemYear {
        text-align: right;
    }
    
    .years__itemText {
        float: left;
        max-width: 388px;
        font-size: 15px;
        color: #b7b7b7;
        line-height: 22px;
    }
    
    .years__item.years__itemLeft .years__itemText {
        float: right;
    }
    
    .years__itemRight {
    
    }
/*Years/ */

/*Responsive*/
    @media (max-width: 1199px){
        .years__item {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    
    @media (max-width: 991px){}
    
    @media (max-width: 767px){
        .years {
            padding: 79px 0 192px;
        }
        .years:before {
            left: 32px;
        }
        .years__item.years__itemLeft .years__itemYear {
            text-align: left;
        }
        .years__item.years__itemLeft .years__itemText {
            float: none;
        }
    
        .years__item {
            margin-bottom: 30px;
        }
    
        .years__itemContent,
        .years__item.years__itemLeft .years__itemContent {
            padding-left: 70px;
        }
        .years__itemContent:after,
        .years__item.years__itemLeft .years__itemContent:after,
        .years__item.years__itemLeft.years__itemBigPoint .years__itemContent:after {
            left: 0;
            right: auto;
        }
        .years__item.years__itemLeft.years__itemBigPoint .years__itemContent:after {
            left: -13px;
        }
    
        .years__itemContent {
            width: 100%;
        }
        .years__itemText {
            max-width: none;
            float: none;
        }
    
        .years__itemContent {
            float: none;
        }
    }
    
    @media (max-width: 479px){}
/*Responsive/ */